.root {
  display: flex;
  justify-content: center;
  align-items: center;

  min-height: 100vh;

  .container {
    display: flex;
    flex-direction: column;
    gap: 40px;

    width: 1920px;
    margin: 0 auto;

    @media screen and (max-width: 800px) {
      text-align: center;
      gap: 20px;
    }

    p {
      font-size: 24px;
      line-height: 40px;

      @media screen and (max-width: 800px) {
        font-size: 18px;
        line-height: 32px;
      }

      @media screen and (max-width: 480px) {
        font-size: 14px;
        line-height: 24px;
      }

      @media screen and (max-width: 340px) {
        font-size: 10px;
        line-height: 20px;
      }
    }
  }
}
