@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

:root {
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;

  color: #8fc9d4;
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*, *::before, *::after {
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;

  scroll-snap-type: y mandatory;
}


body {
  margin: 0;
  padding: 0;

  background: linear-gradient(rgba(0, 0, 0, 0.951), rgba(0, 0, 0, 0.911)),
    url("./assets/cyberpunk.gif") fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  scroll-behavior: smooth;

}

a {
  text-decoration: inherit;
  color: inherit;
}

ul {
  padding: 0;
  list-style: none;
}

button {
  font-family: "Press Start 2P", system-ui;

  cursor: pointer;
  border: none;

  color: #8fc9d4;

  text-shadow: 1px 1px 1px #018ac9;
}

.app {
  background: rgba(41, 139, 158, 0.067);
  max-width: 1440px;
  margin: 0 auto;

  min-height: 100vh;

  overflow: hidden;

  @media screen and (max-width: 1440px) {
    max-width: 1124px;
  }
}

.logo {
  margin: 0;
  padding: 20px 20px;

  background-color: #02718548;

  font-size: 30px;

  @media screen and (max-width: 1440px) {
    padding: 16px 16px;
    font-size: 20px;
  }

  @media screen and (max-width: 1024px) {
    padding: 14px 14px;
    font-size: 18px;
  }

  @media screen and (max-width: 768px) {
    padding: 12px 12px;
    font-size: 16px;
  }
}

.routBlock {
  position: fixed;
  bottom: 0;
  right: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;

  padding-top: 60px;

  @media screen and (max-width: 768px) {
    left: 0;
    right: 0;
  }
}


.routBtn {
  width: 250px;
  height: 50px;

  font-size: 24px;

  background-color: #002127;

  @media screen and (max-width: 1440px) {
    width: 180px;
    height: 40px;

    font-size: 17px;
  }

  @media screen and (max-width: 1024px) {
    width: 220px;
    height: 40px;

    font-size: 17px;
  }

  @media screen and (max-width: 768px) {
    font-size: 16px;
    width: 180px;
    height: 30px;
  }
}

.fade-enter {
  opacity: 0;
  filter: blur(5px);
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
  transition: opacity 300ms ease-out;
}
